.Field{
    padding: 5px;
    margin: 4px;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    background-color: #f3f3f3;
    color: #424040;
    width: 5%;
    display: inline-block;
}
.Field:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}