.NavBar{
    text-align: center;
    padding: 20px;
    background-color: #ccc;
    color: #424040;
    border: 1px solid white; 
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 100px 0;
}