.Button{
    padding: 10px 25px;
    margin-top: 20px;
    color: #424040;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}
.Button:hover{
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}